
@{
    ViewBag.Title = "Pbl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap-section">
    <!-- pc -->
    <div class="row section-pc flexbox flexbox-pc">
        <div class="container bg-white border width-section-pc width-lg">
            <div class="line-hr"></div>
            <div class="wrap-content-pc flexbox">
                <div class="wrap-content-left">
                    <div class="tintuc">
                        <div class="new-tin-tuc new flexbox">
                            <div class="new-title text-uppercase text-center">pbl</div>
                            <div class="icon-plus"><i class="fa fa-plus"></i></div>
                        </div>
                        <div class="hot-title">
                            <div class="title-h1 text-uppercase">Nâng cao chất lượng đào tạo bằng phương pháp giáo dục dựa trên vấn đề (PBL)</div>
                            <div class="line-hr line-hr-sm"></div>
                            <p class="time">AUG 29, 2019</p>
                            <div class="des-new clearfix">
                                <div class="des-new-img width-des-new"><img src="~/Content/image/image-pc/pbl.jpg" alt="" width="100%"></div>
                                <p class="des-new-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitaeibero qui suscipit harum dolorum. Quidem itaque voluptatum alias ut animi qui ab sint, earum obcaecati similique sit, ipsum nostrum vero magni repellendus? Excepturi consequatur ducimus, consequuntur provident dicta, impedit accusamus?<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200</span></p>
                            </div>
                            <button onclick="myFunctionPC(this)" class="myBtn">Read more...</button>
                        </div>
                        <div class="hot-title">
                            <div class="title-h1">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</div>
                            <div class="line-hr line-hr-sm"></div>
                            <p class="time">AUG 29, 2019</p>
                            <div class="des-new clearfix">
                                <div class="des-new-img width-des-new"><img src="~/Content/image/image-pc/pbl.jpg" alt="" width="100%"></div>
                                <p class="des-new-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitaeicta, impedit accusamus?<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200</span></p>
                            </div>
                            <button onclick="myFunctionPC(this)" class="myBtn">Read more...</button>
                        </div>
                        <div class="hot-title">
                            <div class="title-h1">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</div>
                            <div class="line-hr line-hr-sm"></div>
                            <p class="time">AUG 29, 2019</p>
                            <div class="des-new clearfix">
                                <div class="des-new-img width-des-new"><img src="~/Content/image/image-pc/pbl.jpg" alt="" width="100%"></div>
                                <p class="des-new-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione blanditiis nulla earum d similique sit, ipsum nostrum vero magni repellendus? Excepturi consequatur ducimus, consequuntur provident dicta, impedit accusamus?<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200</span></p>
                            </div>
                            <button onclick="myFunctionPC(this)" class="myBtn">Read more...</button>
                        </div>
                        <div class="hot-title">
                            <div class="title-h1">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</div>
                            <div class="line-hr line-hr-sm"></div>
                            <p class="time">AUG 29, 2019</p>
                            <div class="des-new clearfix">
                                <div class="des-new-img width-des-new"><img src="~/Content/image/image-pc/pbl.jpg" alt="" width="100%"></div>
                                <p class="des-new-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione blanditiis nulla earum dignissimos delectus culpaquam numquam, erspiciatis, molestiae. Error sequi, possimus, molestias corrupti fuga obcaecati eum libero qui suscipit harum dolorum. Quidem itaque voluptatum alias ut animi qui ab sint, earum obcaecati similique sit, ipsum nostrum vero magni repellendus? Excepturi consequatur ducimus, consequuntur provident dicta, impedit accusamus?<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200<br>erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.lorem200</span></p>
                            </div>
                            <button onclick="myFunctionPC(this)" class="myBtn">Read more...</button>
                        </div>
                        <div class="pagination">
                            <a href="#">&laquo;</a>
                            <a href="#">1</a>
                            <a href="#" class="active">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">&raquo;</a>
                        </div>
                    </div>
                </div>
                <div class="wrap-content-right">
                    <div class="content-right-width">
                        <input type="text" name="" placeholder="Tìm kiếm bài tin ...." class="input-search">
                        <div class="wrap-image-sv flexbox mb-30">
                            <a href="#" class="img-thumbnail text-center">
                                <img src="~/Content/image/image-sp/for-sv.png" alt="" width="100%">
                                <p><span class="text text-uppercase">Dành cho sinh viên</span></p>
                            </a>
                        </div>
                        <div class="line-hr right-line"></div>
                        <div class="line-lg"></div>
                        <div class="bt-current-student">
                            <div class="bt-sv text-uppercase">Sinh viên hiện tại <span class="underline">CLICK HEAR</span></div>
                        </div>
                        <div class="wrap-slide-text-imge">
                            <div class="slide-image-textv img-thumbnail" id="slideshow">
                                <div class="fexbox slide-image-text-1 ">
                                    <div class="wrap-img-des">
                                        <img src="~/Content/image/image-sp/ha.jpg" width="100%" class="des">
                                    </div>
                                    <div class="des-text row">Được sống và học tập trong một môi trường mới, năng động, tích cực, thân thiện nhưng cũng đầy thách thức như ở Khoa Y – ĐHQG TP.HCM chính là động lực để tôi phấn đấu. Nỗ lực hết mình để đạt được mục tiêu của bản thân, trở thành người thầy thuốc hết lòng phục vụ cho nhân dân, cống hiến cho đất nước là đích đến cuối cùng của tôi.</div>
                                    <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                                </div>
                                <div class="line-hr mt-30"></div>
                                <div class="fexbox slide-image-text-1">
                                    <div class="wrap-img-des">
                                        <img src="~/Content/image/image-sp/phuc.jpg" width="100%" class="des">
                                    </div>
                                    <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                                    <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                                </div>
                                <div class="line-hr mt-30"></div>
                                <div class="fexbox slide-image-text-1">
                                    <div class="wrap-img-des">
                                        <img src="~/Content/image/image-sp/thanh.gif" width="100%" class="des">
                                    </div>
                                    <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                                    <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="title-event flexbox"><h2 class="upercase">Hình ảnh sự kiện</h2><span class="sm-text">Xem thêm</span></div>
                <div class="list_carousel flexbox responsive">
                    <ul id="foo5" class="flexbox item-carousel">
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tamsoatsk1.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay1.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay3.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay3.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay1.jpg" width='100%'></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- sp -->

        <div class="wrap-services p-relative width-section-pc width-sm">
            <div class="bg-services mt-30">
                <div class="wap-des-ser flexbox flex-sp">
                    <div class="wap-content-ser flexbox flex-sp row-sp text-white">
                        <div class="bg-icon-red flexbox"><img src="~/Content/image/image-sp/g-t.png" alt="" width="100%"></div>
                        <span class="color-white text-h3">GIỚI THIỆU</span>
                        <p class="color-white l-height">Khoa Y ĐHQG-HCM là đơn vị đào tạo tiên tiến, chất lượng cao dựa trên mô hình Trường – Bệnh viện, kết hợp chặt chẽ giữa đào tạo với nghiên cứu khoa học và cung cấp dịch vụ chăm sóc sức khoẻ.</p>
                    </div>
                    <div class="wap-content-ser flexbox flex-sp row-sp xd text-white">
                        <div class="bg-icon-red flexbox"><img src="~/Content/image/image-sp/su-menh.jpg" alt="" width="100%"></div>
                        <span class="color-white text-h3 text-center">SỨ MỆNH</span>
                        <p class="color-white l-height">Đào tạo nguồn nhân lực ngành Y ở trình độ ĐH và SĐH.<br>Nghiên cứu khoa học và ứng dụng các thành quả nghiên cứu vào đào tạo.<br>Khám chữa bệnh nhằm đáp ứng nhu cầu chăm sóc và bảo vệ sức khỏe cho nhân dân khu vực miền Nam và cả nước.</p>
                    </div>
                    <div class="wap-content-ser flexbox flex-sp row-sp dn text-white">
                        <div class="bg-icon-red flexbox"><img src="~/Content/image/image-sp/tam-nhin.jpg" alt="" width="100%"></div>
                        <span class="color-white text-h3 text-center">TẦM NHÌN</span>
                        <p class="color-white l-height">Khoa Y hướng đến xây dựng một Đại học Khoa học sức khoẻ trong tốp đầu Châu Á, là nơi hội tụ của khoa học y học, công nghệ, văn hoá, tri thức và y đức của người Việt Nam.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-sp">
        <div class="container bg-white border">
            <div class="line-hr mt-30"></div>
            <div class="tuyen-sinh flex-column mb-30">
                <div class="left-ts row">
                    <a href="#" class="tuyen-sinh-link"><span>Tuyển sinh năm 2019: Y khoa, Dược học, Răng Hàm Mặt.</span></a>
                    <p>Khoa Y thông báo các thông tin dự kiến tuyển sinh trong năm 2019.<p>
                    <p><span class="tuyen-sinh-link-sm tuyen-sinh-link"><i class="fa fa-hand-o-right"></i> Xem thêm</span></p>
                </div>
                <div class="right-ts youtube">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/tmIwM3ztyOs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="line-hr mt-30"></div>
            <input type="text" name="" placeholder="Tìm kiếm bài tin ...." class="input-search">
            <div class="wrap-new">
                <div class="row">
                    <div class="title-port title">
                        <span class="text-bt">PBL</span><br>
                        <span class="text-gt">PBL</span>
                        <div class="line-red flexbox">
                            <div class="line-r-l"></div>
                            <div class="line-md"></div>
                            <div class="line-r-l"></div>
                        </div>
                        <div class="hot-title">
                            <div class="title-h1">Nâng cao chất lượng đào tạo bằng phương pháp giáo dục dựa trên vấn đề (PBL)</div>
                            <div class="line-hr line-hr-sm"></div>
                            <p class="time">AUG 29, 2019</p>
                            <div class="des-new flexbox des-new-text-sp">
                                <div class="des-new-img width-des-new"><img src="~/Content/image/image-pc/pbl.jpg" alt="" width="100%"></div>
                                <p class="des-new-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
                                <button onclick="myFunctionSP(this)" class="myBtn">Read more...</button>
                            </div>
                        </div>
                        <div class="hot-title">
                            <div class="title-h1">Khóa tập huấn phương pháp giảng dạy PBL (Ngày 3)</div>
                            <div class="line-hr line-hr-sm"></div>
                            <p class="time">AUG 29, 2019</p>
                            <div class="des-new flexbox  des-new-text-sp" id="">
                                <div class="des-new-img width-des-new"><img src="~/Content/image/image-pc/pbl.jpg" alt="" width="100%"></div>
                                <p class="des-new-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
                                <button onclick="myFunctionSP(this)" class="myBtn">Read more</button>
                            </div>
                        </div>
                        <div class="hot-title">
                            <div class="title-h1">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</div>
                            <div class="line-hr line-hr-sm"></div>
                            <p class="time">AUG 29, 2019</p>
                            <div class="des-new flexbox  des-new-text-sp">
                                <div class="des-new-img width-des-new"><img src="~/Content/image/image-pc/pbl.jpg" alt="" width="100%"></div>
                                <p class="des-new-sp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
                                <button onclick="myFunctionSP(this)" class="myBtn">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-pagination flexbox">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
            <div class="line-hr mt-30"></div>
            <div class="wrap-image-sv flexbox mb-30">
                <a href="#" class="img-thumbnail text-center">
                    <img src="~/Content/image/image-sp/for-sv.png" alt="" width="100%">
                    <p><span class="text text-uppercase">Dành cho sinh viên</span></p>
                </a>
            </div>
            <div class="bt-current-student row">
                <div class="bt-sv text-uppercase">Sinh viên hiện tại <span class="underline">CLICK HEAR</span></div>
            </div>
            <div class="wrap-slide-text-imge row">
                <div class="slide-image-textv img-thumbnail" id="slideshow">
                    <div class="fexbox slide-image-text-1 ">
                        <div class="wrap-img-des">
                            <img src="~/Content/image/image-sp/ha.jpg" width="100%" class="des">
                        </div>
                        <div class="des-text row">Được sống và học tập trong một môi trường mới, năng động, tích cực, thân thiện nhưng cũng đầy thách thức như ở Khoa Y – ĐHQG TP.HCM chính là động lực để tôi phấn đấu. Nỗ lực hết mình để đạt được mục tiêu của bản thân, trở thành người thầy thuốc hết lòng phục vụ cho nhân dân, cống hiến cho đất nước là đích đến cuối cùng của tôi.</div>
                        <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                    </div>
                    <div class="line-hr mt-30"></div>
                    <div class="fexbox slide-image-text-1">
                        <div class="wrap-img-des">
                            <img src="~/Content/image/image-sp/phuc.jpg" width="100%" class="des">
                        </div>
                        <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                        <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                    </div>
                    <div class="line-hr mt-30"></div>
                    <div class="fexbox slide-image-text-1">
                        <div class="wrap-img-des">
                            <img src="~/Content/image/image-sp/thanh.gif" width="100%" class="des">
                        </div>
                        <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                        <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="title-event flexbox">
                    <h2 class="upercase">Hình ảnh sự kiện</h2><span class="sm-text">Xem thêm</span>
                </div>
                <div class="list_carousel flexbox responsive">
                    <ul id="foo5-sp" class="flexbox item-carousel">
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tamsoatsk1.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay1.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay3.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay3.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" width='100%'></li>
                        <li class="img-carousel"><img src="~/Content/image/image-pc/mhxtrongcay1.jpg" width='100%'></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="line-hr mb-30"></div>
        </div>
        <div class="wrap-services p-relative">
            <div class="bg-services mt-30">
                <div class="title-ser title row-sp">
                    <span class="text-bt text-uppercase">introduction</span><br>
                    <span class="text-gt text-uppercase">Khoa y đại học quốc gia tp.hcm</span>
                    <div class="line-red flexbox center">
                        <div class="line-r-l"></div>
                        <div class="line-md"></div>
                        <div class="line-r-l"></div>
                    </div>
                </div>
                <div class="wap-des-ser flexbox flex-sp">
                    <div class="wap-content-ser flexbox flex-sp row-sp text-white">
                        <div class="bg-icon-red flexbox"><img src="~/Content/image/image-sp/g-t.png" alt="" width="100%"></div>
                        <span class="color-white text-h3">GIỚI THIỆU</span>
                        <p class="color-white l-height">Khoa Y ĐHQG-HCM là đơn vị đào tạo tiên tiến, chất lượng cao dựa trên mô hình Trường – Bệnh viện, kết hợp chặt chẽ giữa đào tạo với nghiên cứu khoa học và cung cấp dịch vụ chăm sóc sức khoẻ.</p>
                    </div>
                    <div class="wap-content-ser flexbox flex-sp row-sp xd text-white">
                        <div class="bg-icon-red flexbox"><img src="~/Content/image/image-sp/su-menh.jpg" alt="" width="100%"></div>
                        <span class="color-white text-h3 text-center">SỨ MỆNH</span>
                        <p class="color-white l-height">Đào tạo nguồn nhân lực ngành Y ở trình độ ĐH và SĐH.<br>Nghiên cứu khoa học và ứng dụng các thành quả nghiên cứu vào đào tạo.<br>Khám chữa bệnh nhằm đáp ứng nhu cầu chăm sóc và bảo vệ sức khỏe cho nhân dân khu vực miền Nam và cả nước.</p>
                    </div>
                    <div class="wap-content-ser flexbox flex-sp row-sp dn text-white">
                        <div class="bg-icon-red flexbox"><img src="~/Content/image/image-sp/tam-nhin.jpg" alt="" width="100%"></div>
                        <span class="color-white text-h3 text-center">TẦM NHÌN</span>
                        <p class="color-white l-height">Khoa Y hướng đến xây dựng một Đại học Khoa học sức khoẻ trong tốp đầu Châu Á, là nơi hội tụ của khoa học y học, công nghệ, văn hoá, tri thức và y đức của người Việt Nam.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

