
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="wrap-section">
        <!-- pc -->
        <div class="row section-pc flexbox flexbox-pc">
            <div class="container bg-white border width-section-pc width-lg">
                <div class="img-title">
                    <img img src="~/Content/image/image-sp/thuchanh.jpg" alt="" style="width:100%">
                </div>
                <div class="line-hr"></div>
                <ul class="list-info flexbox flex-column">
                    <li class="item-infor flexbox">
                        <a href="#" class="flexbox flex-column-pc wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/tuyensinh-2019.jpg" alt="" style="width:100%">
                            <span>Tuyển sinh 2019</span>
                        </a>
                        <a href="#" class="flexbox flex-column-pc wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/daotao-y.png" alt="" style="width:100%">
                            <span>Đào tạo Y-RHM-Dược</span>
                        </a>
                        <a href="#" class="flexbox flex-column-pc wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/nghiencuukhoahoc.png" alt="" style="width:100%">
                            <span>Đào tạo liên tục CME</span>
                        </a>
                        <a href="#" class="flexbox flex-column-pc wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/congtac-ts.png" alt="" style="width:100%">
                            <span>Công tác sinh viên</span>
                        </a>
                    </li>
                </ul>
                <div class="wrap-banner-text p-relative">
                    <img img src="~/Content/image/image-pc/banner-text.jpg" alt="" style="width:100%; height:120px" class="">
                    <div class="text-banner-infor">
                        <div id="textslide" class="p-absolute text"><span>"Đề cao tính độc lập, sáng tạo trong nghiên cứu khoa học."</span></div>
                    </div>
                </div>
                <div class="line-hr"></div>
                <div class="tuyen-sinh flexbox mb-30">
                    <div class="left-ts row">
                        <a href="#" class="tuyen-sinh-link"><span>Tuyển sinh năm 2019: Y khoa, Dược học, Răng Hàm Mặt.</span></a>
                        <p>Khoa Y thông báo các thông tin dự kiến tuyển sinh trong năm 2019.<p>
                        <p><span class="tuyen-sinh-link-sm tuyen-sinh-link"><i class="fa fa-hand-o-right"></i> Xem thêm</span></p>
                    </div>
                    <div class="right-ts youtube">
                        <iframe style="width:100% ; height:auto" img src="https://www.youtube.com/embed/tmIwM3ztyOs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="line-hr"></div>
                <div class="wrap-content-pc flexbox">
                    <div class="wrap-content-left">
                        <div class="tintuc">
                            <div class="new-tin-tuc new flexbox">
                                <div class="new-title text-uppercase">tin tức</div>
                                <div class="icon-plus"><i class="fa fa-plus"></i></div>
                            </div>
                            <div class="hot-title">
                                <div class="title-h1">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</div>
                                <div class="line-hr line-hr-sm"></div>
                                <p class="time">AUG 29, 2019</p>
                                <div class="des-new clearfix">
                                    <div class="des-new-img width-des-new"><img img src="~/Content/image/image-pc/3694643694.jpg" alt="" style="width:100%"></div>
                                    <span class="des-new-text width-des-new">Trước khi chính thức bước vào chương trình đào tạo đại học  từ ngày 26 - 29/08/2019 các bạn tân sinh viên Khoa Y - ĐHQG TP.HCM đã hoàn thành các chuyên đề trong đợt 1 " tuần sinh hoạt công dân - sinh viên ". Tại đây ngoài những kiến thức thực tế bổ ích các bạn cùng Khóa còn được gặp gỡ giao lưu và tìm cho mình những người bạn có thể chia sẻ và cùng nhau cố gắng trong suốt những năm tháng tiếp theo, theo học tại Khoa y - ĐHQG TP.HCM. </span>
                                    <span class="read-more text-uppercase">Read more</span>
                                </div>
                                <div class="line-hr line-hr-sm"></div>
                                <div class="title-h5">
                                    <span><i class="fa fa-angle-double-right"> Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</i></span>
                                </div>
                                <div class="line-hr line-hr-sm"></div>
                                <div class="title-h5">
                                    <span><i class="fa fa-angle-double-right"> Kế hoạch cuộc thi "Hoạt động tăng cường sức khỏe sinh viên"</i></span>
                                </div>
                                <div class="line-hr line-hr-sm"></div>
                            </div>
                        </div>
                        <div class="doanvien">
                            <div class="new-tin-tuc new flexbox">
                                <div class="new-title text-uppercase dv">Bản tin đoàn thành niên</div>
                                <div class="icon-plus"><i class="fa fa-plus"></i></div>
                            </div>
                            <div class="hot-title">
                                <div class="title-h1">Công Đoàn Khoa Y đạt 02 giải tại Hội thi "Đoàn viên Công đoàn thanh lịch" cấp TP.HCM năm 2019</div>
                                <div class="line-hr line-hr-sm"></div>
                                <p class="time">AUG 29, 2019</p>
                                <div class="des-new">
                                    <div class="des-new-img width-des-new"><img img src="~/Content/image/image-pc/3694643694.jpg" alt="" style="width:100%"></div>
                                    <span class="des-new-text width-des-new">Hướng tới kỷ niệm 90 năm ngày thành lập Công đoàn Việt Nam (28/7/1929 – 28/7/2019), Công đoàn Khoa Y - ĐHQG TPHCM tham dự Hội thi “Đoàn viên công đoàn thanh lịch” năm 2019 do Liên đoàn Lao động Thành phố Hồ Chí Minh tổ chức. </span>
                                    <span class="read-more text-uppercase">Read more</span>
                                </div>
                                <div class="line-hr line-hr-sm"></div>
                                <div class="title-h5">
                                    <span><i class="fa fa-angle-double-right">  Đặc sắc Khoa Y tại Hội diễn văn nghệ Công đoàn ĐHQG TPHCM 2019</i></span>
                                </div>
                                <div class="line-hr line-hr-sm"></div>
                                <div class="title-h5">
                                    <span><i class="fa fa-angle-double-right"> Kế hoạch cuộc thi "Hoạt động tăng cường sức khỏe sinh viên"</i></span>
                                </div>
                                <div class="line-hr line-hr-sm"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-content-right">
                        <div class="content-right-width">
                            <div class="wrap-image-sv flexbox mb-30">
                                <a href="#" class="img-thumbnail text-center">
                                    <img img src="~/Content/image/image-sp/for-sv.png" alt="" style="width:100%">
                                    <p><span class="text text-uppercase">Dành cho sinh viên</span></p>
                                </a>
                            </div>
                            <div class="line-hr right-line"></div>
                            <div class="line-lg"></div>
                            <div class="bt-current-student">
                                <div class="bt-sv text-uppercase">Sinh viên hiện tại <span class="underline">CLICK HEAR</span></div>
                            </div>
                            <div class="wrap-slide-text-imge">
                                <div class="slide-image-textv img-thumbnail" id="slideshow">
                                    <div class="fexbox slide-image-text-1 ">
                                        <div class="wrap-img-des">
                                            <img img src="~/Content/image/image-sp/ha.jpg" style="width:100%" class="des">
                                        </div>
                                        <div class="des-text row">Được sống và học tập trong một môi trường mới, năng động, tích cực, thân thiện nhưng cũng đầy thách thức như ở Khoa Y – ĐHQG TP.HCM chính là động lực để tôi phấn đấu. Nỗ lực hết mình để đạt được mục tiêu của bản thân, trở thành người thầy thuốc hết lòng phục vụ cho nhân dân, cống hiến cho đất nước là đích đến cuối cùng của tôi.</div>
                                        <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                                    </div>
                                    <div class="line-hr mt-30"></div>
                                    <div class="fexbox slide-image-text-1">
                                        <div class="wrap-img-des">
                                            <img img src="~/Content/image/image-sp/phuc.jpg" style="width:100%" class="des">
                                        </div>
                                        <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                                        <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                                    </div>
                                    <div class="line-hr mt-30"></div>
                                    <div class="fexbox slide-image-text-1">
                                        <div class="wrap-img-des">
                                            <img img src="~/Content/image/image-sp/thanh.gif" style="width:100%" class="des">
                                        </div>
                                        <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                                        <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="title-event flexbox"><h2 class="upercase">Hình ảnh sự kiện</h2><span class="sm-text">Xem thêm</span></div>
                    <div class="list_carousel flexbox responsive">
                        <ul id="foo5" class="flexbox item-carousel">
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tamsoatsk1.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay1.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay3.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay3.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay1.jpg" style="width:100%"></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!-- sp -->
            </div>
            <div class="wrap-services p-relative width-section-pc width-sm">
                <div class="bg-services mt-30">
                    <div class="wap-des-ser flexbox flex-sp">
                        <div class="wap-content-ser flexbox flex-sp row-sp text-white">
                            <div class="bg-icon-red flexbox"><img img src="~/Content/image/image-sp/g-t.png" alt="" style="width:100%"></div>
                            <span class="color-white text-h3">GIỚI THIỆU</span>
                            <p class="color-white l-height">Khoa Y ĐHQG-HCM là đơn vị đào tạo tiên tiến, chất lượng cao dựa trên mô hình Trường – Bệnh viện, kết hợp chặt chẽ giữa đào tạo với nghiên cứu khoa học và cung cấp dịch vụ chăm sóc sức khoẻ.</p>
                        </div>
                        <div class="wap-content-ser flexbox flex-sp row-sp xd text-white">
                            <div class="bg-icon-red flexbox"><img img src="~/Content/image/image-sp/su-menh.jpg" alt="" style="width:100%"></div>
                            <span class="color-white text-h3 text-center">SỨ MỆNH</span>
                            <p class="color-white l-height">Đào tạo nguồn nhân lực ngành Y ở trình độ ĐH và SĐH.<br>Nghiên cứu khoa học và ứng dụng các thành quả nghiên cứu vào đào tạo.<br>Khám chữa bệnh nhằm đáp ứng nhu cầu chăm sóc và bảo vệ sức khỏe cho nhân dân khu vực miền Nam và cả nước.</p>
                        </div>
                        <div class="wap-content-ser flexbox flex-sp row-sp dn text-white">
                            <div class="bg-icon-red flexbox"><img img src="~/Content/image/image-sp/tam-nhin.jpg" alt="" style="width:100%"></div>
                            <span class="color-white text-h3 text-center">TẦM NHÌN</span>
                            <p class="color-white l-height">Khoa Y hướng đến xây dựng một Đại học Khoa học sức khoẻ trong tốp đầu Châu Á, là nơi hội tụ của khoa học y học, công nghệ, văn hoá, tri thức và y đức của người Việt Nam.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-sp">
            <div class="container bg-white border">
                <div class="img-title">
                    <img img src="~/Content/image/image-sp/thuchanh.jpg" alt="" style="width:100%">
                </div>
                <div class="line-hr"></div>
                <ul class="list-info flexbox flex-column">
                    <li class="item-infor flexbox">
                        <a href="#" class="flexbox flex-column wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/tuyensinh-2019.jpg" alt="" style="width:100%">
                            <span>Tuyển sinh 2019</span>
                        </a>
                        <a href="#" class="flexbox flex-column wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/daotao-y.png" alt="" style="width:100%">
                            <span>Đào tạo Y-RHM-Dược</span>
                        </a>
                        <a href="#" class="flexbox flex-column wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/nghiencuukhoahoc.png" alt="" style="width:100%">
                            <span>Đào tạo liên tục CME</span>
                        </a>
                        <a href="#" class="flexbox flex-column wrap-image-info img-thumbnail-border">
                            <img img src="~/Content/image/image-sp/congtac-ts.png" alt="" style="width:100%">
                            <span>Công tác sinh viên</span>
                        </a>
                    </li>
                </ul>
                <div class="wrap-banner-text p-relative">
                    <img img src="~/Content/image/image-sp/banner-text.jpg" alt="" style="width:100%" class="">
                    <div class="text-banner-infor">
                        <div id="textslide" class="p-absolute text"><span>"Đề cao tính độc lập, sáng tạo trong nghiên cứu khoa học."</span></div>
                    </div>
                </div>
                <div class="line-hr mt-30"></div>
                <div class="tuyen-sinh flex-column mb-30">
                    <div class="left-ts row">
                        <a href="#" class="tuyen-sinh-link"><span>Tuyển sinh năm 2019: Y khoa, Dược học, Răng Hàm Mặt.</span></a>
                        <p>Khoa Y thông báo các thông tin dự kiến tuyển sinh trong năm 2019.<p>
                        <p><span class="tuyen-sinh-link-sm tuyen-sinh-link"><i class="fa fa-hand-o-right"></i> Xem thêm</span></p>
                    </div>
                    <div class="right-ts youtube">
                        <iframe style="width:100% ; height:auto" img src="https://www.youtube.com/embed/tmIwM3ztyOs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="line-hr mt-30"></div>
                <div class="wrap-new">
                    <div class="row">
                        <div class="title-port title">
                            <span class="text-bt">News</span><br>
                            <span class="text-gt">Tin tức</span>
                            <div class="line-red flexbox">
                                <div class="line-r-l"></div>
                                <div class="line-md"></div>
                                <div class="line-r-l"></div>
                            </div>
                            <div class="wrap-new-content">
                                <button class="flexbox bt-new">News: 9-2019<span><i class="arrow down"></i></span></button>
                                <div class="content-new row-sp">
                                    <ul class="list-new">
                                        <li class="item-new flexbox">
                                            <span class="lg-1">13-08-2019 :<var class="lg-2">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Chương trình Dược học 2+3 liên kết giữa Khoa Y - ĐHQG TPHCM và Đại học Otago (New Zealand)</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Thông báo số 1 - Hội nghị khoa học lần II</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="wrap-new-content">
                                <button class="flexbox bt-new">News: 7-2019<span><i class="arrow down"></i></span></button>
                                <div class="content-new row-sp">
                                    <ul class="list-new">
                                        <li class="item-new flexbox">
                                            <span class="lg-1">13-08-2019 :<var class="lg-2">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Chương trình Dược học 2+3 liên kết giữa Khoa Y - ĐHQG TPHCM và Đại học Otago (New Zealand)</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Thông báo số 1 - Hội nghị khoa học lần II</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="wrap-new-content">
                                <button class="flexbox bt-new">News: 6-2019<span><i class="arrow down"></i></span></button>
                                <div class="content-new row-sp">
                                    <ul class="list-new">
                                        <li class="item-new flexbox">
                                            <span class="lg-1">13-08-2019 :<var class="lg-2">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Chương trình Dược học 2+3 liên kết giữa Khoa Y - ĐHQG TPHCM và Đại học Otago (New Zealand)</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Thông báo số 1 - Hội nghị khoa học lần II</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-hr mt-30"></div>
                <div class="wrap-doan wrap-new">
                    <div class="row">
                        <div class="title-port title">
                            <span class="text-bt">Đoàn thanh niên</span><br>
                            <span class="text-gt text-uppercase">Đoàn thanh niên</span>
                            <div class="line-red flexbox">
                                <div class="line-r-l"></div>
                                <div class="line-md"></div>
                                <div class="line-r-l"></div>
                            </div>
                            <div class="wrap-new-content">
                                <button class="flexbox bt-new">News: 9-2019<span><i class="arrow down"></i></span></button>
                                <div class="content-new row-sp">
                                    <ul class="list-new">
                                        <li class="item-new flexbox">
                                            <span class="lg-1">13-08-2019 :<var class="lg-2">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Chương trình Dược học 2+3 liên kết giữa Khoa Y - ĐHQG TPHCM và Đại học Otago (New Zealand)</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Thông báo số 1 - Hội nghị khoa học lần II</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="wrap-new-content">
                                <button class="flexbox bt-new">News: 7-2019<span><i class="arrow down"></i></span></button>
                                <div class="content-new row-sp">
                                    <ul class="list-new">
                                        <li class="item-new flexbox">
                                            <span class="lg-1">13-08-2019 :<var class="lg-2">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Chương trình Dược học 2+3 liên kết giữa Khoa Y - ĐHQG TPHCM và Đại học Otago (New Zealand)</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Thông báo số 1 - Hội nghị khoa học lần II</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="wrap-new-content">
                                <button class="flexbox bt-new">News: 6-2019<span><i class="arrow down"></i></span></button>
                                <div class="content-new row-sp">
                                    <ul class="list-new">
                                        <li class="item-new flexbox">
                                            <span class="lg-1">13-08-2019 :<var class="lg-2">TUẦN SINH HOẠT CÔNG DÂN - SINH VIÊN NĂM HỌC 2019 - 2020</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Chương trình Dược học 2+3 liên kết giữa Khoa Y - ĐHQG TPHCM và Đại học Otago (New Zealand)</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Thông báo số 1 - Hội nghị khoa học lần II</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                        <li class="item-new flexbox">
                                            <span class="lg-1">10-10-2019 :<var class="lg-2 text-uppercase">Khóa tập huấn “Phương pháp PBL trong đào tạo khối ngành Khoa học sức khỏe”</var></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-hr mt-30"></div>
                <div class="wrap-image-sv flexbox mb-30">
                    <a href="#" class="img-thumbnail text-center">
                        <img img src="~/Content/image/image-sp/for-sv.png" alt="" style="width:100%">
                        <p><span class="text text-uppercase">Dành cho sinh viên</span></p>
                    </a>
                </div>
                <div class="bt-current-student row">
                    <div class="bt-sv text-uppercase">Sinh viên hiện tại <span class="underline">CLICK HEAR</span></div>
                </div>
                <div class="wrap-slide-text-imge row">
                    <div class="slide-image-textv img-thumbnail" id="slideshow">
                        <div class="fexbox slide-image-text-1 ">
                            <div class="wrap-img-des">
                                <img img src="~/Content/image/image-sp/ha.jpg" style="width:100%" class="des">
                            </div>
                            <div class="des-text row">Được sống và học tập trong một môi trường mới, năng động, tích cực, thân thiện nhưng cũng đầy thách thức như ở Khoa Y – ĐHQG TP.HCM chính là động lực để tôi phấn đấu. Nỗ lực hết mình để đạt được mục tiêu của bản thân, trở thành người thầy thuốc hết lòng phục vụ cho nhân dân, cống hiến cho đất nước là đích đến cuối cùng của tôi.</div>
                            <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                        </div>
                        <div class="line-hr mt-30"></div>
                        <div class="fexbox slide-image-text-1">
                            <div class="wrap-img-des">
                                <img img src="~/Content/image/image-sp/phuc.jpg" style="width:100%" class="des">
                            </div>
                            <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                            <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                        </div>
                        <div class="line-hr mt-30"></div>
                        <div class="fexbox slide-image-text-1">
                            <div class="wrap-img-des">
                                <img img src="~/Content/image/image-sp/thanh.gif" style="width:100%" class="des">
                            </div>
                            <div class="des-text row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus, nobis corporis nesciunt numquam repellat accusamus sequi magni quaerat quo aliquid porro nisi consequatur quidem illo placeat dolore velit, fuga aliquam amet quae iste labore voluptas consectetur modi. Nisi quasi ndis repellendus nam magni. Vero impedit explicabo vitae quisquam, dolorem soluta. Quia itaque praesentium maiores qui ratione tenetur.</div>
                            <p class="flexbox flex-end">Văn Đặng Hữu Đức – Y2011</p>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="title-event flexbox">
                        <h2 class="upercase">Hình ảnh sự kiện</h2><span class="sm-text">Xem thêm</span>
                    </div>
                    <div class="list_carousel flexbox responsive">
                        <ul id="foo5-sp" class="flexbox item-carousel">
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tamsoatsk1.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay1.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay3.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi4.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay3.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/tiepsucmuathi2.jpg" style="width:100%"></li>
                            <li class="img-carousel"><img img src="~/Content/image/image-pc/mhxtrongcay1.jpg" style="width:100%"></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="line-hr mb-30"></div>
            </div>
            <div class="wrap-services p-relative">
                <div class="bg-services mt-30">
                    <div class="title-ser title row-sp">
                        <span class="text-bt text-uppercase">introduction</span><br>
                        <span class="text-gt text-uppercase">Khoa y đại học quốc gia tp.hcm</span>
                        <div class="line-red flexbox center">
                            <div class="line-r-l"></div>
                            <div class="line-md"></div>
                            <div class="line-r-l"></div>
                        </div>
                    </div>
                    <div class="wap-des-ser flexbox flex-sp">
                        <div class="wap-content-ser flexbox flex-sp row-sp text-white">
                            <div class="bg-icon-red flexbox"><img img src="~/Content/image/image-sp/g-t.png" alt="" style="width:100%"></div>
                            <span class="color-white text-h3">GIỚI THIỆU</span>
                            <p class="color-white l-height">Khoa Y ĐHQG-HCM là đơn vị đào tạo tiên tiến, chất lượng cao dựa trên mô hình Trường – Bệnh viện, kết hợp chặt chẽ giữa đào tạo với nghiên cứu khoa học và cung cấp dịch vụ chăm sóc sức khoẻ.</p>
                        </div>
                        <div class="wap-content-ser flexbox flex-sp row-sp xd text-white">
                            <div class="bg-icon-red flexbox"><img img src="~/Content/image/image-sp/su-menh.jpg" alt="" style="width:100%"></div>
                            <span class="color-white text-h3 text-center">SỨ MỆNH</span>
                            <p class="color-white l-height">Đào tạo nguồn nhân lực ngành Y ở trình độ ĐH và SĐH.<br>Nghiên cứu khoa học và ứng dụng các thành quả nghiên cứu vào đào tạo.<br>Khám chữa bệnh nhằm đáp ứng nhu cầu chăm sóc và bảo vệ sức khỏe cho nhân dân khu vực miền Nam và cả nước.</p>
                        </div>
                        <div class="wap-content-ser flexbox flex-sp row-sp dn text-white">
                            <div class="bg-icon-red flexbox"><img img src="~/Content/image/image-sp/tam-nhin.jpg" alt="" style="width:100%"></div>
                            <span class="color-white text-h3 text-center">TẦM NHÌN</span>
                            <p class="color-white l-height">Khoa Y hướng đến xây dựng một Đại học Khoa học sức khoẻ trong tốp đầu Châu Á, là nơi hội tụ của khoa học y học, công nghệ, văn hoá, tri thức và y đức của người Việt Nam.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

