
@{
    ViewBag.Title = "TuyenSinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/css/tuyensinh.css")" rel="stylesheet" type="text/css" />


<div class="wrap-ts">
    <h2>TUYỂN SINH</h2>
    <div class="tuyen-sinh flex-column mb-30">
        <div class="left-ts row">
            <a href="#" class="tuyen-sinh-link"><span>Tuyển sinh năm 2019: Y khoa, Dược học, Răng Hàm Mặt.</span></a>
            <p>Khoa Y thông báo các thông tin dự kiến tuyển sinh trong năm 2019.<p>
            <p><span class="tuyen-sinh-link-sm tuyen-sinh-link"><i class="fa fa-hand-o-right"></i> Xem thêm</span></p>
        </div>
        <div class="right-ts youtube">
            <iframe style="width:100% ; height:auto" img src="https://www.youtube.com/embed/tmIwM3ztyOs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>    


